apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-discovery
  namespace: ecommerce
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-discovery
  template:
    metadata:
      labels:
        app: service-discovery
    spec:
      containers:
        - name: service-discovery
          image: selimhorri/service-discovery-ecommerce-boot:0.1.0
          imagePullPolicy: IfNotPresent
          ports:
          - containerPort: 8761
            name: http
          env:
          - name: SPRING_PROFILES_ACTIVE
            value: "dev"
          - name: SPRING_ZIPKIN_ENABLED
            value: "false"
          - name: SPRING_SLEUTH_ENABLED
            value: "false"
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  name: service-discovery-service
  namespace: ecommerce
spec:
  selector:
    app: service-discovery
  ports:
    - protocol: TCP
      port: 8761
      targetPort: 8761
  type: ClusterIP
