name: CI/CD - API Gateway
# Este workflow se ejecuta automáticamente después de que el workflow de servicios core termine correctamente

on:
  workflow_run:
    workflows: ["CI/CD - Core Services"]
    types:
      - completed
    branches: [ dev, stage, master ]
  workflow_dispatch:

jobs:
  build_test_deploy:
    runs-on: self-hosted
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      # ...existing code...
      # Usando imagen pública selimhorri/api-gateway-ecommerce-boot:0.1.0, no se requiere build ni push
      - name: Apply Namespace
        run: kubectl apply -f k8s/namespace.yaml --validate=false
      - name: Apply Config Maps
        run: kubectl apply -f k8s/config-maps.yaml --validate=false
      - name: Deploy API Gateway
        run: kubectl apply -f k8s/api-gateway-deployment.yaml --validate=false
      - name: Deploy API Gateway Service
        run: kubectl apply -f k8s/api-gateway-service.yaml --validate=false
      - name: Generate Release Notes
        run: |
          git log -1 --pretty=format:"%h - %s (%an, %ad)" > release-notes.txt
      - name: Upload Release Notes
        uses: actions/upload-artifact@v4
        with:
          name: release-notes
          path: release-notes.txt
