name: CI/CD - API Gateway

on:
  push:
    branches: [ dev, stage, master ]
  workflow_dispatch:

jobs:
  build_test_deploy:
    runs-on: self-hosted
    defaults:
      run:
        shell: pwsh
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Run unit tests
        run: mvn test
      - name: Build Docker image
        run: docker build -f api-gateway/Dockerfile -t ${{ secrets.DOCKER_USERNAME }}/api-gateway-ecommerce-boot:${{ github.ref_name }} .
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/api-gateway-ecommerce-boot:${{ github.ref_name }}
      - name: Deploy to Minikube/Kubernetes
        run: |
          kubectl apply -f k8s/ --validate=false
      - name: Generate Release Notes
        run: |
          git log -1 --pretty=format:"%h - %s (%an, %ad)" > release-notes.txt
      - name: Upload Release Notes
        uses: actions/upload-artifact@v3
        with:
          name: release-notes
          path: release-notes.txt
